.root{
 width: 70vw;
 height: 90vh;
 border: 1px solid black;
 margin: 5vh auto;
}

input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border-color: grey;
}
.search-center{
    position:relative;
    top: 170px;
    left: 200px
    }

    li{
        list-style-type: none;
    }